nav {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  height: 56px !important;
  line-height: 56px !important;
}
.nopadding {
  padding: 0 !important;
}
.form {
  width: 100%;
  float: left;
  position: absolute;
  right: 0;
  overflow-y: scroll;
  height: calc(100% - 101px);
  top: 56px;

  &-center {
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &-mid {
      display: table-cell;
      vertical-align: middle;
      overflow: hidden;
    }
  }
}
.form-nav {
  width: 270px;
  float: left;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //min-height: 550px;
  height: 100%;
  max-height: 650px;
  overflow: hidden;
  border-radius: 10px;
}
.title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #828282;
  padding-bottom: 15px !important;
}
.profile-picture {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-top: 34px;
}
.form_page {
  display: none;
}
.navigation-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 45px;
  width: 100%;
  padding-top: 7px;
  padding-right: 10px;
}
.img-block > img {
  width: 100%;
  height: 100%;
}
.noPosition {
  position: relative !important;
}
.leerweg_input_page, .mvi_radio-tab, #toggle_box2, #verstuurrow, .form_send_page {
  position: relative;
  clear: both;
  display: none;
}
.form_page {
  width: 100%;
}
table {
  font-weight: bold;
}
.bold {
  font-weight: 500;
}
.notBold {
  font-weight: 400;
}
.breakPoint {
  display: inline-block;
}
.common {
  width: 100%;
  display: none;
}
.padding {
  padding: 15px 5px;
}
#grecaptcha {
  width: fit-content;
  margin: auto;
  display: inline-block;
}
.datepicker-controls .select-month input {
width: auto;
}

.invalid_highlighted {
  background-color: rgb(255, 223, 223);
}
.form_page_invalid {
display: none;
  padding: 15px 0;
}
@media screen and (min-width: 993px) {
  nav {
    display: none !important;
  }
  .sidenav-overlay {
    display: none;
  }

  .ownsidenav {
    position: absolute;
    width: 300px;
    margin: 0;
    height: 100%;
    padding-bottom: 0;
    background-color: #fff;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .navigation-bar {
    width: calc(100% - 300px);
  }
  nav {
    display: block;
  }
  .form {
    width: calc(100% - 300px);
    height: calc(100% - 45px);
    top: 0;
  }
}
