.ownsidenav {
  position: relative;
  width: 100%;
  margin: 0;
  height: 580px;
  padding-bottom: 0;
  background-color: #fff;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.nopadding {
  padding: 0 !important;
}
.form {
  height: calc(100% - 45px);
  width: calc(100% - 270px);
  float: left;
  position: relative;
}
.form-nav {
  width: 270px;
  float: left;
}
.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 580px;
  overflow: hidden;
  border-radius: 10px;

}
.title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #828282;
}
.profile-picture {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-top: 34px;
}
.form_page {
  display: none;
}
.navigation-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 45px;
  width: calc(100% - 270px);
  padding-top: 7px;
  padding-right: 10px;
}
.img-block > img {
  width: 100%;
  height: 100%;
}